.array-container {
    display:flex;
    align-items: flex-end; /* make the bars face upwards*/
}
.array-bar {
    background-color: rgb(58, 176, 255);
    width: 5vw;
    margin: 0 1px

}

.array-sorted {
    background-color: rgb(26, 190, 11);
    width: 5vw;
    margin: 0 1px
}