.container {
  display: flex;
  position: relative;
  width: 10em;
  background-color: #3b3f46;
  border: 0.05em solid hsl(286, 100%, 52%);
  color: hsl(59, 100%, 45%);
  border-radius: 0.25em;
  gap: 0.5em;
  padding: 0.5em;
  min-height: 1.5em;
  align-items: center;
  font-size: 1em;
  outline: none;
}

.container:focus {
  border-color: hsl(215, 100%, 60%);
}

.container:hover {
  background-color: hsl(0, 0%, 30%);
  color: white;
}

.value {
  flex-grow: 1;
}

.caret {
  border: 0.4em solid transparent;
  border-top-color: white;
  translate: 0 25%;
}

.options {
  position: absolute;
  background: #3b3f46;
  width: 100%;
  margin: 0;
  padding: 0;
  display: none;
  list-style-type: none;
  max-height: 15em;
  overflow-y: auto;
  border: 0.05em solid hsl(215, 100%, 60%);
  color: hsl(286, 100%, 65%);
  border-radius: 0.25em;
  top: calc(100% + 0.25em);
  z-index: 100;
  left: 0;
}

.options.show {
  display: block;
}
.option {
  padding: 0.25em;
  cursor: pointer;
}

.option.highlighted:hover {
  background-color: hsl(215, 100%, 60%);
  color: hsl(59, 100%, 45%);
}

.disabled {
  pointer-events: none;
  user-select: none;
  opacity: 0.5;
}
