.toolbar-container {
  display: flex;
  justify-content: center;
  column-gap: 5vw;
  margin: 5vmin;
  background-color: #43464b;
}

.slider {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
}

.toolbar-btn {
  font-size: 1vw;
  cursor: pointer;
  padding: 2vmin;
}

.sort-select {
  outline: none;
  padding: 2vmin;
  font-size: 1vw;

  border-color: rgb(0, 0, 0);
  background-color: white;
  background-image: none;
}
