.toolbar-container {
  display: flex;
  justify-content: center;
  column-gap: 5vw;
  margin: 5vmin;
}

button {
  transform: scale(1.3);
}

.slider {
  display: flex;
  flex-direction: column;
  text-align: center;
}
